body {background-color: rgb(36, 27, 43);}
p {color: beige;}
body {color: beige;}


*{font-family:Arial, Helvetica, sans-serif ;}



#numerojohn {font-family: Brush Script MT, Brush Script Std, cursive;}

h1 {color: rgb(255, 215, 112);}
h2{color: rgb(255, 215, 112);}

#Direitos {font-style: italic;}

#--titulo {font: bolder;}