body {background-color: rgb(36, 27, 43);}
p {color: beige;}
body {color: beige;}


*{font-family:Arial, Helvetica, sans-serif ;}



#numerojohn {font-family: Brush Script MT, Brush Script Std, cursive;}

h1 {color: rgb(255, 215, 112);}
h2{color: rgb(255, 215, 112);}

#Direitos {font-style: italic;}

#--titulo {font: bolder;}



h2 {
margin: 10px;
padding: 20px;


}

* {
margin: 10px;

}

#--titulo {
text-align: center;
background-color: rgb(51, 51, 51);
padding: 20;

}

#Direitos {margin-top: 100px;}
#Direitos {color: rgba(245, 245, 220, 0.562);}

.display-inLine {
    display:inline ;
    background-color: rgb(92, 75, 131);
    border: 3px solid #3b3245;
    border-radius: 15px;
    padding: 3px;}


    #delphox {
float: right;
position: fixed;

width: 100px;




right: 0;

    }


